page-friend-list {
  .scroll-content {
    padding: 0 !important;
    ion-content {
      background-color: #e6e8e9 !important;
    }
  }
  .item {
    height: pxrem(111.25);
    margin-bottom: 0px !important;
  }
  .letter {
    display: flex;
    //display: none;
    width: 30px;
    position: fixed;
    right: 0;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
    top: 110px;
    z-index: 1000;
    .letter-right {
      font-size: 14px;
      display: flex;
      flex-direction: column;
      flex-flow: 1;
      background: none;
      border-top-left-radius: 6px;
      align-items: center;
      span {
        display: block;
        padding: 2px 3px;
      }
    }
  }
  .letter:after {
    display: block;
    content: '';
    clear: both;
  }

  .tip-content {
    width: 100%;
    height: 100%;
    background: rgba(230, 232, 233, 1);
    div {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .tip-text{
        font-size:pxrem(32);
        font-family:PingFang-SC-Medium;
        color:rgba(153,153,153,1);
      }
    }
  }
  .friends-title {
    width: pxrem(106);
    height: pxrem(33);
    font-size: pxrem(36);
    font-family: PingFangSC-Regular;
    color: rgba(51, 51, 51, 1);
    line-height: pxrem(70);
  }
  .labelList {
    width: pxrem(750);
    height: pxrem(82);
    background: rgba(255, 255, 255, 1);
    //height: 50px;
    width: 100%;
    li {
      text-decoration: none;
      width: 33.3%;
      height: 100%;
      border-bottom: none;
      line-height: pxrem(27);
      float: left;
      padding: 0;
      margin: 0;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      color: black;
      .menu-title {
        font-size: pxrem(28);
        font-family: PingFangSC-Regular;
        color: rgba(51, 51, 51, 1);
        line-height: pxrem(70);

      }
    }
    .active {
      border-bottom: 1px solid rgba(242, 120, 107, 1);
      .menu-title {
        font-family: PingFangSC-Regular;
        color: rgba(242, 120, 107, 1);
      }
    }
  }

  .item-ios ion-avatar[item-left]{
    margin: 8px 16px 8px 12px;
  }


  .item.item-block{
    padding:0
  }
  .contact-list {
    border-width: 0px;
    background-color: #fff;
    color: #444;
    position: relative;
    z-index: 2;
    display: block;
    margin: -1px;
    font-size: 16px;
  }
  .arrow-back {
    margin-left: 10px;
    line-height: 45px;
    font-size: 28px;
  }
  .add-friend {
    float: right;
    line-height: 45px !important;
    font-size: 20px;
    margin-right:11px;
  }
/*  .contact-icon {
    !* line-height: 29px; *!

  }*/
  .letter-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    right: 0;
    z-index: 1000;
    height: 80vh;
    width: 20px;
  }
  .letter-key {
    display: flex;
    flex-direction: column;
    /* margin-top: 120px; */
    justify-content: center;
  }
  .attention {
    //width: pxrem(110);
    height: pxrem(54);
    background: none;
    outline-color: rgba(242, 120, 107, 1);
    border-radius: pxrem(4);
    margin-right: 24.5px !important;
    padding: 12.5px 14px !important;
    .button-inner {
      font-size: pxrem(24);
      font-family: PingFang-SC-Medium;
      color: rgba(242, 120, 107, 1);
        margin-right: initial !important;
    }
  }
  .has-attention {
    margin-right: 24.5px !important;;
    background: none;
    .button-inner {
      //width: pxrem(71);
      height: pxrem(23);
      font-size: pxrem(24);
      font-family: PingFang-SC-Medium;
      color: rgba(163, 163, 163, 1);
      margin-right: initial !important;
    }
  }
  .eachother-attention {
    background: none;
    margin-right: 24.5px !important;
    .button-inner {
      //width: pxrem(71);
      height: pxrem(23);
      font-size: pxrem(24);
      font-family: PingFang-SC-Medium;
      color: rgba(163, 163, 163, 1);
      margin-right: initial !important;
    }
  }
  .contacts-group {
    height: pxrem(42);
    background: rgba(230, 232, 233, 1);
    .group-key {

      font-size: pxrem(28);
      font-family: PingFang-SC-Medium;
      color: rgba(163, 163, 163, 1);
    }
  }
  .portrait {
    width: pxrem(70);
    height: pxrem(70);
  }
  .friend-nickname {

    font-size: pxrem(28);
    font-family: PingFang-SC-Medium;
    color: rgba(51, 51, 51, 1);
  }
  .right-key {
    font-size: pxrem(20);
    color: #333333;
  }
}
