<!--
  Generated template for the UserSetPasswordPayPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title *ngIf="loading">{{userPaymentPwd?'修改支付密码':'设置支付密码'}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <form [formGroup]="modifyPayPassForm" (ngSubmit)="onSubmit()" *ngIf="!userPaymentPwd&&loading">
        <div class="from_inputItem showIcon">
            <ion-item>
                <ion-input class="input" placeholder="请输入6位数字密码" type="password" maxlength="6" formControlName="password"></ion-input>
            </ion-item>
            <ion-icon name="ios-eye-outline" [showPassicon]></ion-icon>
            <div class="input_errorMsg" *ngIf="modifyPayPassMessages.password.errorMsg">{{modifyPayPassMessages.password.errorMsg}}</div>
        </div>
        <div class="from_subBtn" (click)="paymentPwd(1)" [ngClass]="{'disabledBtn':modifyPayPassData.password.length<6}">设置支付密码</div>
    </form>
    <form [formGroup]="modifyPayPassForm" (ngSubmit)="onSubmit()" *ngIf="userPaymentPwd&&loading">
        <!-- <div class="from_inputItem showIcon">
            <ion-item>
                <ion-input class="input" placeholder="请输入原密码" type="password" maxlength="6" formControlName="oldPassword"></ion-input>
            </ion-item>
            <ion-icon name="ios-eye-outline" [showPassicon]></ion-icon>
            <div class="input_errorMsg" *ngIf="modifyPayPassMessages.oldPassword.errorMsg">{{modifyPayPassMessages.oldPassword.errorMsg}}</div>
        </div> -->
        <div class="from_inputItem showIcon">
            <ion-item>
                <ion-input class="input" placeholder="请输入新密码" type="password" maxlength="6" formControlName="password"></ion-input>
            </ion-item>
            <ion-icon name="ios-eye-outline" [showPassicon]></ion-icon>
            <div class="input_errorMsg" *ngIf="modifyPayPassMessages.password.errorMsg">{{modifyPayPassMessages.password.errorMsg}}</div>
        </div>
        <div class="from_subBtn" (click)="paymentPwd('2')" [ngClass]="{'disabledBtn':!modifyPayPassForm.valid}">确认修改支付密码</div>
    </form>
</ion-content>
