user-shopping-cart-list {
    ion-item-sliding{
        ion-item.item-block.item-ios{
            border-top: 1px solid #e5e5e5 !important;
            border-bottom: 0px !important;
        }
        ion-label{
            max-width:  100% !important;
        }
    }
    .store-list {
        .store-item {
            margin-top: pxrem(8);
            padding-left: pxrem(24);
            background: #ffffff;
        }
        .store-title {
            overflow: hidden;
            .check-btn {
                float: left;
                ion-checkbox {
                    line-height: pxrem(105);
                    vertical-align: middle;
                    margin-right: pxrem(20);
                }
                span {
                    font-size: pxrem(28);
                    vertical-align: middle;
                    line-height: pxrem(105);
                }
            }
        }
        .goods-list {
            overflow: hidden;
            .goods-item {
                position: relative;
                height: pxrem(205);
                // border-top: 1px solid #e5e5e5;
                .left,
                .middle {
                    float: left;
                }
                .left {
                    margin-right: pxrem(20);
                    vertical-align: middle;
                    line-height: pxrem(205);
                    ion-checkbox {
                        margin-right: pxrem(20);
                        vertical-align: middle;
                    }
                    .img-warp{
                        display: inline-block;
                        .img-warp_bg1{
                            width: 100%;
                            line-height: 26px;
                            bottom: pxrem(36);
                            left:0;
                            text-align: center;
                            background: rgba(0,0,0,0.5);
                            color: #fff;
                            border-bottom-right-radius: pxrem(10);
                            border-bottom-left-radius: pxrem(10);
                        }
                        .img-warp_bg2{
                            width: pxrem(124);
                            height: pxrem(124);
                            line-height:pxrem(124);
                            bottom: pxrem(36);
                            left:0;
                            text-align: center;
                            background: rgba(0,0,0,0.5);
                            color: #fff;
                            border-radius: pxrem(10);
                        }
                    }
                    img {
                        width: pxrem(124);
                        height: pxrem(124);
                        border-radius: pxrem(10);
                        vertical-align: middle;
                    }
                }
            }
            .middle {
                display: -webkit-box;
                display: flex;
                max-width: pxrem(440);
                height: pxrem(124);
                margin-top: pxrem(40);
                padding-left: pxrem(20);
                line-height: 1;
                flex-direction: column;
                justify-content: space-between;
                .goods-title {
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                    font-size: pxrem(28);
                    line-height: pxrem(29.5);
                }
                .specs {
                    overflow: hidden;
                    max-height: pxrem(50);
                    line-height: 1.1;
                    font-size: pxrem(24);
                    color: #a3a3a3;
                }
                .price {
                    font-size: pxrem(24);
                    span {
                        vertical-align: middle;
                        &:first-child {
                            margin-right: pxrem(10);
                        }
                    }
                }
            }
            .number {
                position: absolute;
                top: pxrem(40);
                right: pxrem(24);
                font-size: pxrem(24);
            }
            .edit-btn {
                position: absolute;
                bottom: pxrem(35);
                right: pxrem(24);
                color: #f2786b;
                font-size: pxrem(24);
            }
        }
    }
}