<!--<div style="border: 1px solid black;position: fixed;bottom: 0"><div style="width: 20%;height: 60px;border:1px solid red;position: absolute;left: 60%;bottom: 0"></div>-->

<ion-tabs #tabMenus [ngClass]="{'color1': globalDataProvider.tabColor == 1, 'color2': globalDataProvider.tabColor == 2 }">

  <ion-tab  [root]="userHomePage" *ngIf="httpConfig.clientType == 2 || httpConfig.clientType == 1" tabTitle="首页" tabIcon="icon-gxk-144"></ion-tab>

  <ion-tab  [root]=""  class="msg-tab" tabTitle="消息" tabIcon="icon-gxk-148" *ngIf="httpConfig.clientType == '1'&&isMsgShow" tabBadge="0">  </ion-tab>

  <ion-tab  [root]="userCategoryPage" *ngIf="httpConfig.clientType == 2 || httpConfig.clientType == 1" tabTitle="分类" tabIcon="icon-gxk-146"></ion-tab>
 
  <ion-tab  [root]="userCartPage"*ngIf="httpConfig.clientType == 2 || httpConfig.clientType == 1"  tabTitle="购物车" tabIcon="icon-gxk-150" tabBadge="{{commonModel.shopCarNum}}"></ion-tab>

  <ion-tab  [root]="userInfoPage" *ngIf="httpConfig.clientType == 2 || httpConfig.clientType == 1" tabTitle="个人" tabIcon="icon-gxk-152"></ion-tab>
<!--</div>-->
</ion-tabs>