<!--
  Generated template for the UserApplyCustomerServicePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>申请退款</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="content_bg" *ngIf="orderInfo.orderData">
    <input type="file" id="commentImg" accept="image/*" (change)="fileChange($event)" multiple style="display:none">
  <div>
    <section class="order_goods_section_item">
      <div class="R_pr R_clearfix">
          <!-- <ion-checkbox [checked]="true"></ion-checkbox> -->
          <div class="R_fl item_left">
              <img [src]="mainCtrl.imgFilter(orderInfo.orderData.orderGoodsSimpleVOS[0].goodsImg,'?x-oss-process=image/resize,m_fixed,h_142,w_142')" alt="">
          </div>
          <div class="R_fl item_middle">
            <p>
             {{orderInfo.orderData.orderGoodsSimpleVOS[0]
              .goodsName}}
            </p>
            <p class="A3A3A3">
              规格：{{orderInfo.orderData.orderGoodsSimpleVOS[0].specKeyName}}
            </p>
          </div>
          <div class="R_fr item_right">
              <p>
                {{orderInfo.orderData.orderGoodsSimpleVOS[0].marketPrice| currency}}
              </p>
              <div class="number_component">
                <button (click)="editNum('subtract')">-</button>
                <input type="number" [(ngModel)]="orderInfo.orderData.orderGoodsSimpleVOS[0].goodsNum">
                <button (click)="editNum('add')">+</button>
              </div>
          </div>

      </div>
    </section>

    <section class="">
      <ul class="customer_service_ul">
        <li *ngIf="orderInfo.status != 2">
          <span>
              退款金额:
          </span>
          <span style="color:#FF0A0A">¥</span>
          <input style="color:#FF0A0A"[(ngModel)]="returnMoney" type="number" class="price">
        </li>
        <li *ngIf="orderInfo.status != 2" class="R_pr" (click)="goToReasonRadioList(1)">
          <span>
              退款原因:
          </span>
          <span class="A3A3A3">
              {{submitInfo['退款原因'] || '请选择'}}
          </span>
          <ion-icon class="ion-ios-icon-gxk-51 R_pa"></ion-icon>
        </li>
        <li *ngIf="orderInfo.status == 1" class="R_pr" (click)="goToReasonRadioList(2)">
            <span>
                货物状态:
            </span>
            <span class="A3A3A3">
                {{submitInfo['货物状态'] || '请选择'}}
            </span>
            <ion-icon class="ion-ios-icon-gxk-51 R_pa"></ion-icon>
          </li>
          <li *ngIf="orderInfo.status == 2" class="R_pr" (click)="goToReasonRadioList(3)">
              <span>
                  换货原因:
              </span>
              <span class="A3A3A3">
                  {{submitInfo['换货原因'] || '请选择'}}
              </span>
              <ion-icon class="ion-ios-icon-gxk-51 R_pa"></ion-icon>
            </li>
        <li *ngIf="orderInfo.status != 2">
          <span>
              退款说明:
          </span>
          <input type="text" placeholder="选填，限30字以内" [(ngModel)]="buyerMarks">
        </li>
        <li *ngIf="orderInfo.status == 2">
            <span>
                换货说明:
            </span>
            <input type="text" placeholder="选填，限30字以内" [(ngModel)]="buyerMarks">
        </li>
        <li>
          <span>
              上传凭证  <span class="A3A3A3">（最多六张）</span>
          </span>
          <div>
            <ion-slides [slidesPerView]=" 4" [spaceBetween]=" 10" speed="100" *ngIf="imgArr">
              <ion-slide *ngFor="let item of imgArr; let _index = index">
                  <div class="load_pic_item" (click)="addImg()" *ngIf="!item">
                      <div class="dashed_border">
                        <span class="add_icon"></span>
                        <p>
                          上传凭证
                        </p>
                      </div> 
                    </div>
                  <i *ngIf="item" class="" (click)="deleteImg(_index)">
                    <ion-icon class="ion-ios-icon-gxk-59"></ion-icon>
                  </i>
                  <img *ngIf="item" [src]="mainCtrl.imgFilter(item,'?x-oss-process=image/resize,m_fixed,h_142,w_142')">
              </ion-slide>
          </ion-slides>
          </div>
        </li>
      </ul>
    </section>

  </div>


</ion-content>
<ion-footer (click)="submit()">
  提交
</ion-footer>


