<!--
  Generated template for the UserInfoOrderEvaluatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>我要评价</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
    <input type="file" id="commentImg" accept="image/*" (change)="fileChange($event)" multiple style="display:none">
  <div *ngIf="orderDetail">
    <section>
      <ul class="cart-confirm-box">
        <li>订单编号：{{orderDetail.orderSn}}</li>
        <li>下单时间：{{orderDetail.addTime | dateFormat }}</li>
      </ul>
    </section>
    <section>
      <ul class="evaluate_ul">
        <li *ngFor="let goods of orderDetail.orderGoodsSimpleVOS index as index">
            <div class="evaluate_confirm_type">
            <span class="type_item">商品描述相符</span>
            <span class="type_number">
              <i (click)="grayToRed(1,goods,1)" [ngClass]="{ 'active': goods.rankCount >= 1}"></i>
              <i (click)="grayToRed(1,goods,2)" [ngClass]="{ 'active': goods.rankCount >= 2}"></i>
              <i (click)="grayToRed(1,goods,3)" [ngClass]="{ 'active': goods.rankCount >= 3}"></i>
              <i (click)="grayToRed(1,goods,4)" [ngClass]="{ 'active': goods.rankCount >= 4}"></i>
              <i (click)="grayToRed(1,goods,5)" [ngClass]="{ 'active': goods.rankCount >= 5}"></i>
            </span>
          </div>
          <div class="confirm-box">
            <div class="confirm-content ">
              <div class="confirm-goods_img">
                <div [ngBackImg]="{img:goods.goodsImg,type:1}"></div>
              </div>
              <div class="confirm-goods_content">
                <div class="goods_title">{{goods.goodsName}}
                  <span class="goods_count">x{{goods.goodsNum}}</span>
                </div>
                <div class="goods_property">
                  <span class="property_list">{{goods.specKeyName}}</span>
                </div>
                <div class="goods_property">
                  <span class="property_price" [moneyFormat]="goods.goodsUnitPrice"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="confirm-box margin-bottom-10">
            <span class="type">我要评价</span>
          </div>

          <div class="textarea_box">
            <textarea class="lzy_textarea" maxlength="100" rows="4" placeholder="请输入您的评论（100字以内）" required [(ngModel)]="goods.content"></textarea>
            <!-- <span class="error_msg" *ngIf="!goods.content">
              评论信息是必填的
            </span> -->
          </div>
          <div class="load_pic_box">
            <div class="load_pic_item" *ngFor="let img of goods.img;let _index = index">
              <div class="load_pic" [ngBackImg]="{img:img,type:1}" (click)="addImg(goods,index,true,_index)"></div>
            </div>
            <div class="load_pic_item" *ngIf="goods.img.length<5" (click)="addImg(goods,index)">
              <div class="dashed_border">
                <span class="add_icon"></span>
                <p>
                  上传图片
                  <br> (最多5张)
                </p>
              </div>
            </div>
          </div>
          <div class="oderform_list_btns">
            <em class="cryptonym_btn" (click)="goods.anonymity=goods.anonymity==0?1:0">匿名评价</em>
            <i class="chec_icon" (click)="goods.anonymity=goods.anonymity==0?1:0" [ngClass]="{ 'active':goods.anonymity==1}"></i>
          </div>
        </li>
      </ul>
    </section>
     <section class="evaluate_confirm_box">
      <div class="confirm-box">
        <span class="type">店铺评分</span>
      </div>
      <div class="evaluate_confirm_type">
        <span class="type_item">客服服务质量</span>
        <span class="type_number">
          <i (click)="grayToRed(2,orderDetail,1)" [ngClass]="{ 'active': orderDetail.serviceRank >= 1}"></i>
          <i (click)="grayToRed(2,orderDetail,2)" [ngClass]="{ 'active': orderDetail.serviceRank >= 2}"></i>
          <i (click)="grayToRed(2,orderDetail,3)" [ngClass]="{ 'active': orderDetail.serviceRank >= 3}"></i>
          <i (click)="grayToRed(2,orderDetail,4)" [ngClass]="{ 'active':orderDetail.serviceRank >= 4}"></i>
          <i (click)="grayToRed(2,orderDetail,5)" [ngClass]="{ 'active': orderDetail.serviceRank >= 5}"></i>
        </span>
      </div>
      <div class="evaluate_confirm_type padding-top-30">
        <span class="type_item">物流发货速度</span>
        <span class="type_number">
          <i (click)="grayToRed(3,orderDetail ,1)" [ngClass]="{ 'active': orderDetail.deliverRank >= 1}"></i>
          <i (click)="grayToRed(3,orderDetail ,2)" [ngClass]="{ 'active':orderDetail.deliverRank  >= 2}"></i>
          <i (click)="grayToRed(3,orderDetail ,3)" [ngClass]="{ 'active': orderDetail.deliverRank  >= 3}"></i>
          <i (click)="grayToRed(3,orderDetail ,4)" [ngClass]="{ 'active': orderDetail.deliverRank  >= 4}"></i>
          <i (click)="grayToRed(3,orderDetail ,5)" [ngClass]="{ 'active': orderDetail.deliverRank  >= 5}"></i>
        </span>
      </div>
    </section> 
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <div class="oderform_list_btns">
      <div class="submit_info" (click)="submitEvalutae()">提交评价</div>
    </div>
  </ion-toolbar>
</ion-footer>
