<!-- Generated template for the HotGoodsSwiperComponent component -->
<div class="wrap">
  <ion-slides [slidesPerView]="slidesPerView || 2.35" [spaceBetween]="spaceBetween || 10" speed="100" *ngIf="data">
    <ion-slide *ngFor="let item of data" (click)="goToGoodsDetailPage(item)">
      <div class="img-wrap">
        <img [src]=" mainCtrl.imgFilter(item.original_img,imgSpace)
        || mainCtrl.imgFilter(item.originalImg,imgSpace)
        ">
      </div>
      <div class="name">{{ item.goods_name || item.goodsName }}</div>
      <div class="price">{{ item.shop_price || item.shopPrice ||item.price | currency:'CNY':true }}</div>
      <div class="buyminNum">
        <span class="coupon-icon" *ngIf="item.hasSale">券</span>
          <span class="gift-icon" *ngIf="item.hasGifts">赠</span> 
          <span *ngIf="commonModel.APP_INIT['getAppconfig'].data && commonModel.APP_INIT['getAppconfig'].data.is_allow_minbuynum == '1' && item.minBuyNum > 0 ">起批数量：{{ item.minBuyNum}}</span>
      </div>
    </ion-slide>
  </ion-slides>
</div>
