page-user-info {
  .headItem {
    margin: 0;
    height: pxrem(170);
    .item-inner {
      border-bottom: none !important;
    }
    ion-avatar{
      margin:0 !important;
    }
  }
  .more{
    margin-right: 15px;
  }
  .friends-title {
    width: pxrem(106);
    height: pxrem(33);
    font-size: pxrem(36);
    font-family: PingFangSC-Regular;
    color: rgba(51, 51, 51, 1);
    line-height: pxrem(70);
  }
  .user-nickname{
    font-size:pxrem(36);
    font-family:PingFang-SC-Medium;
    color:rgba(51,51,51,1);
  }
  ion-content{
    background:rgba(230,232,233,1) !important;
  }
  .province_city{
    font-size:pxrem(30);
    font-family:PingFang-SC-Medium;
    color:rgba(0,0,0,1);
  }
  .portrait{
    width:pxrem(110) !important;height:pxrem(110) !important;
    margin-right: pxrem(27);
  }
  .send-img{
    //border: 1px solid;margin-top: 15px;
    height:pxrem(94);
    background:rgba(242,120,107,1);
    border-radius: pxrem(12) ;
    color: white !important;
  }
  .district{
    color:#333333;
    margin: pxrem(31)  pxrem(103)  pxrem(31)  pxrem(31);
    font-size: 15px;
    font-family: PingFang-SC-Medium;
    color: rgba(51,51,51,1);
  }
  .circle{
    font-size: 15px;
    margin: pxrem(31)  pxrem(31)  pxrem(31) 0;
    font-family: PingFang-SC-Medium;
    color: rgba(51,51,51,1);
  }
  .district-item{
    padding: 0 !important;
    margin-bottom: 0 !important;
    margin-top: 10px;
    .label{
      max-width:100% !important;
    }
    height: 45px;
  }
  .send-msg{
    margin: pxrem(50) pxrem(40);
  }
  .black-tip{
    text-align: center;
    font-size: 14px;
    font-family:PingFang-SC-Medium;
    color:rgba(153,153,153,1);

  }
}
