page-changerole-tabs {
    background: rgba(0,0,0,0.5);
    .swiper-slide img {
        width: auto;
        max-width: 80% !important;
        height: auto;
        max-height: 100%;
    }
    z-index: 999;

    .popup{
        .alert-head {
            padding: pxrem(12) pxrem(13) pxrem(7) !important;
            .alert-title {
                color: #333;
            }
        }
    }

}
