user-home-ad {
  .outter {
    height: pxrem(420);
    .wrap {
      height: pxrem(420);
      .slide-zoom {
        height: 100%;
        img{
          width: 100%;
          height:100%;
        }
        .img {
          height: 100%;
        }
      }
    }
  }
}
