user-category-list-L{
  .scroll-content{
    margin-bottom:0 !important;
  }
  height: 100%;
  ul{
    padding-left: 0;
    li{
      color: #a9a9a9;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: pxrem(2);
      margin-top: pxrem(2);
      height: pxrem(116);
      background: #e6e8ea;
      text-align: center;
    }
    .ac{
      color: #f27868;
      background: white;
    }
  }

}
