<!--
  Generated template for the UserTopicPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>

    <!-- home页面顶部nav -->
    <ion-title>热门专题</ion-title>
    <!-- 搜索按钮 -->
     <search-button></search-button> 

  </ion-navbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="refresh($event)" pullMin="90" pullMax="150">
    <ion-refresher-content pullingText="下拉刷新~"></ion-refresher-content>
  </ion-refresher>

  <user-topic-list [data]="topicData"></user-topic-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="!loadEnd">
    <ion-infinite-scroll-content loadingText="加载更多~"></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <div class="no-more-data" *ngIf="loadEnd">{{ '没有更多了~' }}</div>
  <user-shopping-cart></user-shopping-cart>
</ion-content>
