<!-- Generated template for the EmojiPickerComponent component -->
<div class="emoji-picker">
    <div class="emoji-items">
        <ion-slides pager #emojiPanelSlides>

            <ion-slide *ngFor="let items of emojiArr">
        <span class="emoji-item" *ngFor="let item of items,let pos=index;" (click)="setValue(item)">
          <!--<span>{{item}}</span>-->
            <span *ngIf="pos==0||(pos+1)%24!=0">{{item}}</span>
            <span *ngIf="(pos>0&&(pos+1)%24==0)||pos==items.length-1" (click)="delete()"><ion-icon name="icon-gxk-20"></ion-icon></span>

        </span>
                <!--(click)="setValue($event)"-->
                <!--(click)="clickEmoji($event)"
            </ion-slide>-->
                <!--融云表情-->

                <!--<ion-slide *ngFor="let items of emojiArr;let pos =index;" class="emoji">-->
            </ion-slide>

        </ion-slides>
    </div>
</div>
