<div class="wrap" (click)="closeModal()">
  <div class="wrap_content" (click)="$event.stopPropagation();">
    <div class="prompt_message_box" *ngIf="state==1" (click)="closeModal()">
      <span>
        卖家已打包出库，不能取消订单哦~
      </span>
      <span>
        请耐心等待收货哦~
      </span>
    </div>
    <div class="prompt_message_box" *ngIf="state==2" (click)="closeModal()">
      <span>
        订单已取消，货款已退回至您的余额~
      </span>
      <span>
        请注意查收~
      </span>
    </div>
    <div class="alert_confirm_box" *ngIf="state==3">
      <div class="alert_confirm_title">
        确认取消这笔订单吗？
      </div>
      <div class="alert_confirm_box">
        <div class="alert_confirm_btn cancel_btn" (click)="closeModal()">
          取消
        </div>
        <div class="alert_confirm_btn submit_btn" (click)="cancelOrder()">
          确认
        </div>
      </div>
    </div>

    <div class="alert_confirm_box" *ngIf="state==4">
      <div class="alert_confirm_title">
     请您收到货物之后，再点击“确认”
      </div>
      <div class="alert_confirm_box">
        <div class="alert_confirm_btn cancel_btn" (click)="closeModal()">
          取消
        </div>
        <div class="alert_confirm_btn submit_btn" (click)="confirm_receipt()">
          确认
        </div>
      </div>
    </div>   

    <div class="alert_confirm_box" *ngIf="state==5">
      <div class="alert_confirm_title">
     确定删除这笔订单吗？
      </div>
      <div class="alert_confirm_box">
        <div class="alert_confirm_btn cancel_btn" (click)="closeModal()">
          取消
        </div>
        <div class="alert_confirm_btn submit_btn" (click)="deleteOrderPop()">
          确认
        </div>
      </div>
    </div>  
  </div>
</div>
