page-sns {
  ion-content{
    background-color: #e6e8e9 !important;
  }
  .tab-button-icon{
    font-size: 21px !important;
    display: inline-flex;
    height: 26px;
    width: 26px;
    align-items: center;
  }

}
