title-more {
  .ion-ios-icon-gxk-51{
    transform: rotate(180deg);
  }    
  .wrap {
    background: #ffffff;
    overflow: hidden;
    line-height: pxrem(110);
    .left {
      float: left;
      margin-left: pxrem(24);
      font-size: pxrem(30);
      color: $black;
    }
    .right {
      float: right;
      padding: 0 pxrem(30);
      font-size: pxrem(24);
      color: $greyLight;
      vertical-align: middle;
      ion-icon {
        font-size: pxrem(24);
      }
    }
  }
}
