title-more {
  .ion-ios-icon-gxk-51{
    transform: rotate(180deg);
  }    
  .wrap {
    background: #ffffff;
    overflow: hidden;
    line-height: pxrem(110);
    position: relative;
    .left {
      text-align: center;
      font-size: pxrem(30);
      color: #333;
      font-size: pxrem(32);
    }
    .right {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0 pxrem(30);
      font-size: pxrem(24);
      color: #A3A3A3;
      vertical-align: middle;
      ion-icon {
        font-size: pxrem(24);
        margin-top: pxrem(4);
        border: 1px solid;
        border-radius: 50%;
      }
    }
  }
}
