home-qrcode {
  .des{
    font-size: pxrem(16);
    color: #A3A3A3;
    text-align: center;
  }
  .qecode{
    text-align: center;
    margin-top: pxrem(12);
    [class*=" ion-ios-icon-"]{
      font-size: pxrem(32);
    }
  }
}
