store-order-list {
  .content {
    margin-top: pxrem(272);
    background-color: #e6e8e9;
    .scroll-content {
      margin-bottom: pxrem(375) !important;
    }
    .list {
      // padding-bottom: 110px;
    }
  }
}
