<!--
  Generated template for the OrderPayPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
    <ion-navbar>
      <ion-title>订单支付</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content>
  
    <div class="order-info" *ngIf="order">
      <div class="tip">
        <div>订单提交成功！</div>
        <div>请您在{{ order.endTime | dateFormat }}前完成支付，否则订单将自动取消~</div>
      </div>
      <div class="order-num">订单号：{{ order.orderSn }}</div>
      <div class="price">支付金额：{{ order.payAmount | currency }}</div>
    </div>
  
    <div class="pay-title">请选择支付方式</div>
  
    <div class="pay-list">
      <!-- weixi=S -->
      <div *ngIf="config.PLATFORMTYPE !='IOS'" class="pay-item" (click)="checkPayChannel('wx')">
        <div class="pay-logo">
          <img src="assets/img/wx.png">
        </div>
        <div class="pay-name">微信支付</div>
        <div class="pay-check">
          <img src="assets/img/pay-check.png" *ngIf="payChannel != 'wx'" class="check">
          <img src="assets/img/pay-checked.png" *ngIf="payChannel == 'wx'">
        </div>
      </div>
      <!-- weixi=E -->
      <!-- weixi=S -->
      <div  class="pay-item" (click)="checkPayChannel('alipay')">
          <div class="pay-logo">
            <img src="assets/img/ali.png">
          </div>
          <div class="pay-name">支付宝支付</div>
          <div class="pay-check">
            <img src="assets/img/pay-check.png" *ngIf="payChannel != 'alipay'" class="check">
            <img src="assets/img/pay-checked.png" *ngIf="payChannel == 'alipay'">
          </div>
        </div>
        <!-- weixi=E -->
        <!-- weixi=S -->
      <!--购享客app不显示银联支付-->
      <div class="pay-item" (click)="checkPayChannel('upacp')" *ngIf="config.PLATFORM == 'APP'&&config.PLATFORMTYPE !='IOS'&&httpConfig.clientType!='1'">
          <div class="pay-logo">
            <img src="assets/img/yl.png">
          </div>
          <div class="pay-name">银联支付</div>
          <div class="pay-check">
            <img src="assets/img/pay-check.png" *ngIf="payChannel != 'upacp'" class="check">
            <img src="assets/img/pay-checked.png" *ngIf="payChannel == 'upacp'">
          </div>
        </div>
        <!-- weixi=E -->
     
      <div  *ngIf="config.PLATFORMTYPE !='IOS'" class="pay-item" (click)="checkPayChannel('balance')">
        <div class="pay-logo">
          <img src="assets/img/money.png">
        </div>
        <div class="pay-name">余额支付</div>
        <div class="pay-check">
          <img src="assets/img/pay-check.png" *ngIf="payChannel != 'balance'" class="check">
          <img src="assets/img/pay-checked.png" *ngIf="payChannel == 'balance'">
        </div>
      </div>
  
      <div *ngIf="payTypes.cashOnDelivery" class="pay-item" (click)="checkPayChannel('delivery')" >
        <div class="pay-logo">
          <img src="assets/img/money.png">
        </div>
        <div class="pay-name">货到付款</div>
        <div class="pay-check">
          <img src="assets/img/pay-check.png" *ngIf="payChannel != 'delivery'" class="check">
          <img src="assets/img/pay-checked.png" *ngIf="payChannel == 'delivery'">
        </div>
      </div>
      <!-- commonModel.APP_INIT['getAppconfig'].data && commonModel.APP_INIT['getAppconfig'].data.is_allow_minbuynum == '1' -->
      <div class="pay-item" *ngIf="commonModel.APP_INIT['getAppconfig'] && commonModel.APP_INIT['getAppconfig'].data.is_prepay==1 && payTypes.prePay" 
      (click)="checkPayChannel('prepay')" >
      <div class="pay-logo">
        <img src="./assets/img/money.png">
      </div>
      <div class="pay-name">预付款支付</div>
      <div class="pay-check">
        <img src="./assets/img/pay-check.png" *ngIf="payChannel != 'prepay'" class="check">
        <img src="./assets/img/pay-checked.png" *ngIf="payChannel == 'prepay'">
      </div>
    </div>
  
    </div>
  
  </ion-content>
  
  <ion-footer>
    <ion-toolbar>
      <div class="left" *ngIf="order">
        应付金额：
        <span>{{ order.payAmount | currency:'CNY':true }}</span>
      </div>
      <div class="operate-btn active" (click)="payOrder()" *ngIf="order">去支付</div>
    </ion-toolbar>
  </ion-footer>
  
