page-recent-message {
  ion-content {
    background: rgba(255, 255, 255, 1) !important;
  }
  @font-face {
    font-family: 'gxk';
    src: url('../../../assets/images/sns/gxk.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  .item-ios ion-avatar[item-left] {
    margin: 7.5px 12px;
  }

  .item.item-block{
  border:none !important;
  padding: 0;
  margin-bottom: 0;
}
  .list .item-block .item-inner{
    border-bottom: .5px solid #ccc !important;
  }
  .avatar{
    position: relative;

    .item-ios{
  margin: 0;
    }
  }
  .list-ios > .item-block:first-child{
    border-top:none !important;
  }

  .badge{
   /* width: 21px;
    height: 21px;*/
    margin: 0 !important;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    background: rgba(242,120,107,1);
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    //font-size: 12px;
    font-size: 10px !important;
    font-weight:100 !important;
    padding: 3px 4px !important;
    border-radius: 10px !important;
    min-width: 15.6px !important;
    right: -12px;
    top: -4px;
  }
  .username{
    font-size: 18px;
    font-family:PingFang-SC-Medium;
    color:rgba(51,51,51,1);
    margin:0 !important;
    padding:0 !important;
  }
  .back-arrow{
    height: 100%;
  }
  .less-nine-nine{
   /* width: 18px;
    height: 18px;*/
    right: -5px !important;
    font-size: 10px;
  }
  .more-nine-nine{
   /* width: 20px;
    height: 20px;*/
    right: -12px;
    font-size: xx-small !important;
    font-weight: 100 !important;
  }
  .friends-title {
    width: pxrem(106);
    height: pxrem(33);
    font-size: pxrem(36);
    font-family: PingFangSC-Regular;
    font-weight: 300;
    color: rgba(51, 51, 51, 1);
    line-height: pxrem(70);
  }
  .msg-item{
    padding: pxrem(15) pxrem(26);
    height:pxrem(130);
    border-bottom: 0.5px solid #cccccc !important;
  }
  ion-item-sliding button{
    background-color: orangered;
    color: white;
  }
  ion-item ion-label {
    max-width: 100% !important;
  }
  .custome-back-button{
    padding: 0 4px;
    height: 32px;
  }
  .img-back-arrow{
    /* margin-left: 10px;
     line-height: 30px;
     font-size: 28px;
     font-size: 28px;*/
    font-size: 16px;
    padding: 5px 10px;
  }
  .unread-count{
    display: inline-block;
    width: 16px;
    height: 16px;
    float: right;
    top: 0;
    background-color: orangered;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-size: 14px;
  }
  .portrait{
    width: pxrem(100) !important;height: pxrem(100) !important;border-radius:50%;
    margin-right: 0px !important;
    margin-right: pxrem(24);
  }
  .receive-msg-time{
    float: right;
    font-size: 12px;
    font-family: PingFang-SC-Regular;
    color: rgba(153,153,153,1);

  }
  .msg-content{
    padding: 0;
    font-size: 14px;
    font-family:PingFang-SC-Medium;
    color:rgba(153,153,153,1);
    background:rgba(255,255,255,1);
  }
.empty{
  width:100%;
  height:0;
}
}
