page-user-home {
  ion-header {
    ion-slide {
      color: #bfbfbf;
      font-weight: 600;
      &.active {
        color: #f2786b;
      }
      span {
        font-size:pxrem(32);
      }
    }
  }
  .page-slides {
    padding-top: pxrem(90);
  }
  .page-slide {
    overflow: hidden;
    align-items: flex-start;
  }
  .shadow-right {
    box-shadow: pxrem(40) 0  pxrem(40) #ffffff;
  }
  .shadow-left {
    box-shadow: pxrem(-40) 0  pxrem(40) #ffffff;
  }
}
