<!-- Generated template for the HomePlatformComponent component -->
<div class="outter">
  <div class="wrap">
    <div class="title">
      <img src="assets/img/norm.png">
    </div>
    <div class="slides">
      <ion-slides #ionSlides loop autoplay='3000'  direction="vertical" >
        <ion-slide>
          <div class="content">
            <span>独家绝招：如何发财发财发财，新年快乐，恭喜发财！</span>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="content">独家绝招：如何发财发财发财，新年快乐，恭喜发财！</div>
        </ion-slide>
        <ion-slide>
          <div class="content">独家绝招：如何发财发财发财，新年快乐，恭喜发财！</div>
        </ion-slide>
      </ion-slides>
    </div>
    <div class="more">
      <span>更多</span>
    </div>
  </div>
</div>
