change-role-btn {
  // button{
  //   background-color: transparent;
  // }
  .chage{
    text-align: center;
    margin-top: pxrem(12);
    margin-left: pxrem(28);
    [class*=" ion-ios-icon-"]{
      font-size: pxrem(32);
    }
    .ion-ios-icon-gxk-51{
      font-size: pxrem(44);
    }
  }
  .dsc{
    font-size: pxrem(16);
    color: #A3A3A3;
    text-align: center;
  }
}
